.App {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vw;

  background-color: var(--grey);
}

.App-header {
  width: 100vw;

  font-size: 5vh;
  padding: 3vh;

  background-color: var(--black);
  color: var(--white);
}

.App-display {
  color: var(--white);
}
