.Graph {
  background-color: var(--white);

  position: relative;

  width: 100vw;
  height: 80vh;

  overflow: auto;
}

.Graph-overlay {
  position: absolute;
  bottom: 0;

  background-color: var(--overlay-color);
  color: var(--white);

  pointer-events: none;
}
